  <!-- Navbar -->
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto">
      <a class="text-dark" href="/wall">Coding Dojo Wall</a>
    </h5>
    <span id="navbar__welcome-message" class="font-weight-light font-italic">Welcome, Danny!</span>
    <form action="" method="POST">
      <a class="btn btn-outline-danger" href="#">Sign Out</a>
    </form>
  </div>

  <!-- Content -->
  <div class="container">
    <div class="row  justify-content-center">
      <div class="col-12 col-md-8">
        <form>
          <div class="form-group">
            <label for="Message">Post a message</label>
            <textarea class="form-control" id="Message" rows="3"></textarea>
          </div>
          <button class="btn btn-primary float-right" type="submit">Post</button>
        </form>
      </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 rounded bg-light post__container border">
        <h4 class="post__author-name">Danny Foster </h4>
        <span class="font-weight-light post__created-at"> • March 3rd, 2018</span>
        <p class="lead post__author-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio, nisi, aliquid delectus nesciunt iusto
          natus assumenda nemo, error ab cum? Fugiat similique provident magni doloribus, perspiciatis ea nam alias.</p>
        <div class="post__comment-list-container">
          <div class="post__comment-container border">
            <h4 class="post__author-name">Danny Foster </h4>
            <span class="font-weight-light post__created-at"> • March 3rd, 2018</span>
            <p class="lead post__comment-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum optio, nisi, aliquid delectus nesciunt iusto
              natus assumenda nemo, error ab cum? Fugiat similique provident magni doloribus, perspiciatis ea nam alias.</p>
          </div>
        </div>
        <hr>
        <div class="post__textarea-container">
          <form>
            <div class="form-group">
              <label for="Message">Post a comment</label>
              <textarea class="form-control" id="Message" rows="2"></textarea>
            </div>
            <button class="btn btn-success float-right" type="submit">Post</button>
          </form>
        </div>
      </div>
    </div>
  </div>