#navbar__welcome-message {
  margin-right: 75px;
}

textarea {
  resize: none;
}

.post__container {
  padding: 20px;
}

.post__author-name {
  font-size: 18px;
  display: inline;
}

.post__created-at {
  font-size: 14px;
}
